<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Word chain</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <p th:text="'Word chain between ' + ${start} + ' and ' + ${stop} + ' is:'"/>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <a class="btn btn-large btn-info" href="/">Go back to the main
        page</a>
    </div>
    <ul class="list-group list-group-flush" th:each="wordchain : ${wordChainList}">
      <li class="list-group-item" th:text="${wordchain}"></li>
    </ul>
  </div>
</div>
</body>
</html>